﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
<title>Conversion Alliance</title>
<meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="../css/themes/gizmoTheme.min.css" rel="stylesheet" />
    <link href="../css/themes/jquery.mobile.icons.min.css" rel="stylesheet" />
    <link href="../css/jquery-mobile-theme-012254-0-1.4.5/jquery.mobile.structure-1.4.5.min.css" rel="stylesheet" />
     <link href="../css/customThemes/customJquery.css" rel="stylesheet" type="text/css" /> 
    <!--<link href="../css/jquery.mobile-1.4.5.css" rel="stylesheet" />-->
    <script src="../javascript/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="../javascript/jquery-migrate-1.2.1.js"></script>
    <script src="../javascript/jquery.mobile-1.4.5.js"></script>
    <script type="text/javascript" src="../javascript/jquery.tmpl.min.js"></script>
    <script src="../javascript/commonFunctions.js" type="text/javascript"></script>
    <script src="../javascript/configManagement.js" type="text/javascript"></script>
    <script src="../javascript/base64.js" type="text/javascript"></script>
    <script src="../javascript/jobNavLinks.js" type="text/javascript"></script>
    <script src="../javascript/cors.js" type="text/javascript"></script>
    <script type="text/javascript" src="javascript/_jobProofing.js"></script>

    <script type="text/html" id="unApprovedJobsTemplate">
    {{each(i, version_proof) proofs}}
        {{if i == 0}}
            <li data-theme="d" data-role="list-divider">Unapproved Proofs</li>
        {{/if}}

       {{each(j,item) version_proof }}
       {{if j == 0}}
            <li data-role="list-divider" data-theme="a">${versionCode}</li>
        {{/if}}
        <li data-theme="c" title="${fileName}"><a id="${id}" onclick="viewJobProof('${fileName}','self');"  style="font-size:11px">${fileName}<br /><span style="font-size:11px;">${createdDate} </span></a>
        <a href="#" data-rel="popup" data-position-to="window" data-transition="pop" data-icon="myapp-new-window" data-iconshadow="false" class="ui-icon-nodisc" data-theme="e" onclick="viewJobProof('${fileName}','blank');">Open in New Window</a>
        </li>
       {{/each}}
    {{/each}}
    </script>
    <script type="text/html" id="approvedJobsTemplate">
    {{each(i, version_proof) proofs}}
        {{if i == 0}}
            <li data-role="list-divider">Approved Proofs</li>
        {{/if}}
         {{each(j,item) version_proof }}
       {{if j == 0}}
            <li data-role="list-divider" data-theme="b">${versionCode}</li>
        {{/if}}
        <li title="${fileName}" ><a onclick="viewJobProof('${fileName}','self');">${fileName}<br /><span style="font-size:11px;">${createdDate} </span></a>
        <a href="#" data-rel="popup" data-position-to="window" data-transition="pop" data-icon="myapp-new-window" data-iconshadow="false" class="ui-icon-nodisc" data-theme="e" onclick="viewJobProof('${fileName}','blank');">Open in New Window</a>
        </li>
        {{/each}}
    {{/each}}
    </script>

    <script type="text/html" id="historyTemplate">
        {{each(i, version) versions}}
        {{if i == 0}}
            <li data-role="list-divider">History</li>
        {{/if}}
        <li data-theme="c"><a style="${style}" onclick="viewProof('${fileName}','${createdDate}','${proofUUID}','${facilityId}','${jobNumber}','self','',${index});" proofIndex ="${index}" >${createdDate} <br /><span style="font-size:12px;">${fileName}</span></a>
        <a href="#" data-rel="popup" data-position-to="window" data-transition="pop" data-icon="myapp-new-window" data-iconshadow="false" class="ui-icon-nodisc" data-theme="e" onclick="openProofInNewWindow('${fileName}','${createdDate}','${proofUUID}','${facilityId}','${jobNumber}','${index}','blank');" >Open in New Window</a>
        </li>
    {{/each}}
    </script>
</head>
<body bgcolor="#000033" style="visited:#0033CC">
    <div id="_jobProofing" data-role="page">
        <div data-role="header" data-theme="a">
            <h2><div id="navHeader" align="center" name="navHeader"></div></h2>
            <a id="btnContinue" data-icon="forward" data-direction="reverse">Continue Order</a> 
            <!--<a id="btnTopSaveSelections" data-icon="myapp-save" data-iconpos="notext" data-direction="reverse" data-inline="true" class="ui-btn-right">Save</a>-->
           <!-- <a data-icon="myapp-save" id="btnSaveTop" title="Save" data-type="button" data-iconpos="notext" onclick="submitApprovals();" href="#"></a>-->
            <div class="ui-btn-right" id="dvProofButtons" data-role="controlgroup" data-type="horizontal">
                <a data-role="button" id="btnViewPDF" title="View PDF" data-icon="false" onclick="previewMailing()">View PDF</a>
                <a data-role="button" data-icon="grid" id="btnProofHistory" data-rel="popup" onclick="openPopups('popupHistory');" style="display:none">Proof History</a>
                <a onclick="openPopups('popupApproval');" data-role="button" id="artApproval" data-icon="check" data-rel="popup" style="display:none">Approval</a>
                <a onclick="openPopups('popupForward');" data-role="button" id="btnProofForward" data-icon="myapp-email" data-rel="popup" style="display:none">Forward</a>
                <a data-role="button" data-icon="bars" id="btnJobProofs" data-inline="true" data-mini="true" onclick="loadJobProofsList();$('#jobProofsPanel').panel('open','optionsHash');" style="display:none">Job Proofs</a>
<!--<a href="#demoInstructions1" data-rel="popup" id="btnDemoInstructions" data-position-to="window" data-transition="pop" data-role="button" data-icon="myapp-help" data-iconpos="notext" data-inline="true" data-mini="true">Help Documentation</a>-->
            </div>
        </div>
         <div id="dvProofFileName" align="left" class="ui-bar ui-bar-d" style="font-size:12px; font-weight:normal" data-theme="d"></div>
        <!-- /header -->
        <div class="colmask leftmenu">
            <div class="colleft">
            <div style="width:0;" >
                        <ul data-role="listview" data-theme="c" id="ulJobLinks" style="display:none;width:0;">
                     </ul>
                    </div>
                    <!-- Column 1 start -->
                <div class="col1" >
                </div>
                <!-- Column 1 end -->
                <!-- Column 2 start -->
                <div class="col2" style="height:750px;">
                    <iframe id="viewFrame" scrolling='auto' width='100%'></iframe>
                    <div id="dvBrowserInfo" width='100%' style="display:none;" >
                    <span style="font-family:Arial;font-size:24px">This website is best viewed in </span><br /><br /><br /><br />
                    <a href="https://www.google.com/intl/en_in/chrome/browser/" target="_blank"><img src="../images/chrome.jpg" style="width:140px;height:41px;border-color:lightGray; border-width:0.8px;border-style:solid;"/></a>
                    <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="../images/firefox.png" style="width:100px;height:41px;border-color:lightGray; border-width:0.7px;border-style:solid;"/></a>
                    <a href="http://windows.microsoft.com/en-IN/internet-explorer/download-ie" target="_blank"><img src="../images/ie.png" style="width:125px;height:41px;border-color:lightGray; border-width:0.8px;border-style:solid;"/></a>
                    <a href="http://support.apple.com/kb/dl1531" target="_blank"><img src="../images/safari.png" style="width:100px;height:41px;border-color:lightGray; border-width:0.8px;border-style:solid;"/></a>
                    <br /><br />
                        <div class="ui-grid-b">
                            <div class="ui-block-a" style="width:15%"></div>
                            <div class="ui-block-b" style="width:70%"><span style="font-family:verdana;font-size:12px;text-align:center;">This site is best viewed using one of the current browsers above, however Internet Explorer versions 9 and above will also work. Click on one of the logos and it will take you to their website where you can download their browser to your computer.</span></div>
                            <div class="ui-block-c" style="width:15%"></div>
                        </div>
                    </div>
                </div>
                <!-- Column 2 end -->
            </div>
        </div>
        
        <!-- footer -->
       <!-- <div id="footer" data-role="footer" class="ui-bar" data-position="fixed" data-theme="b" style="height:20px">
        </div>-->
        <div id="tmpDiv"></div>
        <!-- footer end-->
        <!--popup dialogs-->
     <div data-role="panel" id="jobProofsPanel" data-position="right" data-display="overlay">
        <ul data-role="listview" data-divider-theme="a" id="ulJobProofs">
        </ul>
        <div style="position:relative; top:2em;"><a href="#demo-links" data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-inline="true" data-mini="true">Close</a></div>
    </div>
         
    <div data-role="panel" id="historyPanel" data-position="right" data-display="overlay">
        <ul data-role="listview" data-divider-theme="a" id="ulHistory">
        </ul>
        <div style="position:relative; top:2em;"><a href="#demo-links" data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-inline="true" data-mini="true">Close</a></div>
    </div>

    <div data-role="popup" id="popupApproval" data-theme="a" class="ui-corner-all" data-history="false">
        <div style="padding: 5px 20px 20px 20px; width: 350px; line-height: 125%;">
            <h3>
                <span id="spnApprovalType"></span>&nbsp;Proof Approval</h3>
            <!--<p>
                Please read all information carefully before approving!</p>
            <ul>
                <li>Check for color, content, spelling, punctuation, phone numbers, dates, etc. </li>
                <li>Alterations Policy: Any major changes to layout or text from the original copy are
                    considered additional work and may be charged accordingly.</li>
                <li>Conversion Alliance is NOT responsible for errors or omissions after the proof has been
                    approved and the job printed.</li></ul>-->
            <div>
                <fieldset data-role="controlgroup" data-mini="true" data-theme="a">
                    <input type="radio" name="rdoProofApprovalComments" id="rdoProofApprovalComments1" value="1"  data-theme="c" />
                    <label for="rdoProofApprovalComments1">
                        Proof is Approved. Print exactly as on proof.</label>
                    <input type="radio" name="rdoProofApprovalComments" id="rdoProofApprovalComments2" value="6"  data-theme="c"/>
                    <label for="rdoProofApprovalComments2">
                        Proof is Approved with corrections marked on proof.</label>
                    <input type="radio" name="rdoProofApprovalComments" id="rdoProofApprovalComments3" value="0"  data-theme="c"/>
                    <label for="rdoProofApprovalComments3">
                        Please correct and provide new proof.</label>
                </fieldset>
            </div>
            <div style="display:none;"><p><a href="#" style="color:#FFFFFF; font-size:12px;" onclick="applyToAll()">Apply Approval Selection to All Proofs in this job.</a></p></div>
            <div id='dvProofsToApprove'></div>
            <div data-role="fieldcontain">
                Username:<span name="txtApproverName" id="txtApproverName" style="color:#000000; font-size:12px;"></span>
                <!--<input type="text" name="txtApproverName" id="txtApproverName" value="" data-mini="true" data-theme="a"/>-->
            </div>

            <div data-role="collapsible" data-theme="a" data-content-theme="a" data-mini="true"
                data-collapsed-icon="carat-r" data-expanded-icon="carat-d">
                <h4>
                    Approval Terms &amp; Conditions</h4>
                <p>
                    Please read all information carefully before approving!<p />
                <ul>
                    <li>Check for color, content, spelling, punctuation, phone numbers, dates, etc.</li>
                    <li>Alterations Policy: Any major changes to layout or text from the original copy are
                        considered additional work and may be charged accordingly.</li>
                    <li>Conversion Alliance is NOT responsible for errors or omissions after the proof has been
                        approved and the job printed.</li></ul>
                <p>
                    You agree that your confirmation of your username and your clicking on "Submit"
                    constitute (a) a "Signature" on these conditions that is a legally binding equivalent
                    to a handwritten signature that shall bind you, and (b) your acknowledgement that
                    you have read these conditions and that you agree to and shall abide by the terms
                    of these conditions.</p>
            </div>

            <!--<p>
                You agree that your confirmation of your username and your clicking on "Submit" constitute
                (a) a "Signature" on these conditions that is a legally binding equivalent to a
                handwritten signature that shall bind you, and (b) your acknowledgement that you
                have read these conditions and that you agree to and shall abide by the terms of
                these conditions.</p>-->
            <div align="center">
                <a type="cancel" data-role="button" data-theme="a" data-inline="true" data-mini="true"
                    onclick="closePopUps('popupApproval');">Cancel</a> <a type="submit" id="btnSubmitApprovals" data-role="button"
                        data-theme="a" data-inline="true" data-mini="true" onclick="submitApprovals('approval',false)">Submit</a></div>
        </div>
    </div>
    <div data-role="popup" id="popupForward" data-theme="a" class="ui-corner-all" data-history="false">
        <div style="padding: 5px 20px 20px 20px; width: 350px; line-height: 125%;">
            <h3>
                Forward Proof</h3>
            <p>
                Enter the email addresses of those you would like to have review this proof. When
                "Sent" an email will be sent with a link to this page. Any annotations on this proof
                will be available for all users to view.</p>
            <div data-role="fieldcontain" id="dvEmailLinkFor">Email a Link for:
				<select name="ddlEmailLink" id="ddlEmailLink" data-mini="true" data-theme="a" data-native-menu="false">
					<option value="all">All Job Proofs</option>
                    <option value="current">The Current Proof</option>
				</select>
            </div>
            <div data-role="fieldcontain">
                Email To:
                <input type="text" name="txtEmailLink" id="txtEmailLink" value="" data-mini="true" placeholder="Separate multiple emails with commas"  data-theme="a"/>
            </div>
             <fieldset data-role="controlgroup" data-mini="true">
                 <input type="checkbox" name="chkEnablePowerUser" id="chkEnablePowerUser" data-theme="c">
                 <label for="chkEnablePowerUser">Enable as Power User(s)<br />
                     <span style="font-size: 12px; font-weight: normal">Allows user(s) to upload artwork and forward proofs</span></label>
                <label for="chkRequireApprovals" data-mini="true" title="Require Approvals">Require Approvals on Selected Proofs</label>
                <input type="checkbox" name="chkRequireApprovals" id="chkRequireApprovals" data-mini="true" data-theme="c" onchange="selectRequiredProofs(this);" />
            </fieldset>
            <div id='dvSelectedProofs'></div>
            <div data-role="fieldcontain">
                Message:(Optional)
                <textarea type="text" name="txtMessage" id="txtMessage" value="" data-mini="true" data-theme="a"></textarea>
            </div>
            <div align="center">
                <a data-role="button" data-theme="a" data-inline="true" data-mini="true" onclick="closePopUps('popupForward');">Cancel</a> 
                <a data-role="button" data-theme="a" data-inline="true" data-mini="true" onclick="sendProofEmail()">Send</a></div>
            </div>
    </div>

    <!-- popup proofing instructions -->
        <div data-role="popup" id="popupProofingInstructions" data-theme="c" class="ui-corner-all" data-overlay-theme="d" data-history="false">
            <div data-role="content" style="width: 600px;">
                <h3>Proofing Instructions</h3>
                <p>
                    <b>Markup and Annotations</b><br />
                    Annotating the proof is easy! Click the "Comment" pulldown in the upper left of
                    the screen to see different markup tools. After entering a comment, click out of
                    the comment box for other viewers to see your comments.</p>
                <p id="multipleProofsIns">
                    <b>Viewing Multiple Proofs</b><br />
                    Clicking "Job Proofs" at the top of the screen will allow you to toggle to other
                    job proofs in the system, and clicking the window icon next to the proof name will
                    open these other proofs in a separate browser tab.</p>
                <p id="approverIns">
                    <b>Approving Proofs</b><br />
                    The "Approval" button, in the upper right corner, allows you to approve or decline
                    approval on the proof itself. Just click the "Approval" button, check the approval
                    status based on the current proof and click "Submit". <b>You must complete the approval
                        step to notify us of your proof status.</b></p>
                <div align="right" style="padding-top: 12px;"><a data-role="button" data-theme="a" data-inline="true" data-mini="true" onclick="$('#popupProofingInstructions').popup('close');">Close</a></div>
            </div>
        </div>
        <!-- end popup proofing instructions -->

        <!-- popup proof closed -->
        <div data-role="popup" id="popupClosedProofingInstructios" data-theme="c" class="ui-corner-all" data-overlay-theme="d" data-history="false">
            <div data-role="content" style="width: 400px;">
                <h3>Markup & Approvals Have Been Closed</h3>
                <p>
                    This proof is only available for viewing the proof and previous comments. Please
                    contact your account manager if you have questions.</p>
                <div align="right" style="padding-top: 12px;"><a data-role="button" data-theme="a" data-inline="true" data-mini="true" onclick="$('#popupClosedProofingInstructios').popup('close');">Close</a></div>
            </div>
        </div>
        <!-- end popup proof closed -->
<!-- popup demo instructions -->
        <!-- Page 1 -->
        <div data-role="popup" data-position-to="window" data-transition="pop"  id="demoInstructions1" data-theme="c" class="ui-corner-all" data-overlay-theme="d" data-history="false">
            <a href="#" onclick="$('#demoInstructions1').popup('close');" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            <div data-role="content">
                <h2><img src="images/proofingApproval.png" alt="" width="48" height="48" />&nbsp;Online Proofing & Approval</h2>
                <div class="ui-grid-b ui-responsive">
                    <div class="ui-block-a">
                        <div class="ui-body" style="text-align:justify">
                            <p><b>What is Online Proofing &amp; Approval?</b><br />Proofing &amp; Approval is the process in which the user will review both artwork and list selections for an order and provide feedback or final approval through this screen.</p>
                            <p><img src="images/proofing_nav.jpg" alt="" width="70%" /></p>
                            <p><b>Order Elements</b><br />
                            This is a list of artwork and list selection reports that need to be proofed and approved in order for production to begin. This button is found in the upper right navigation bar and will be colored red when there are elements that have not been proofed. When clicked, the list of elements will slide out to display both Unapproved and Approved Elements. Clicking the list items will open the artwork or report in the main window for you to review. Clicking the button to the right of the element will open the element in a new window.</p>
                            <p><b>Forward Proofs</b><br />
                            Used to send an element of the job to another person not included in the original Proofing &amp; Approval email. Select whether the link should be sent for all elements or the current element shown, enter one or more emails separated by commas, add a message to the recipient and Send. This will trigger an email containing your message, some additional instructions and a link to the elements you selected for them to review.</p>
                            <p><b>Approvers</b><br />This list provides information on the Approval status of each element, along with the specific approval or rejection given by each of the users.</p>
                            <p><b>Approval</b><br />
                            This dialog is where the user will provide their approval or rejection. Some users who are marked as Viewers, will not get this dialog to enter an approval status. Based on the elements in the order, a user may have both List Approval and Artwork Approval or just one. The user should select one of the status options below each Approval type. This status by default only applies to the current element selected on the screen. If the user would like to Approve Multiple Order Elements, there is a checkbox to select this feature. When selected a list of elements will be shown for the user to choose from. When submitted the approval status will be updated for all selected elements.</p>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-body" style="text-align:justify">
                            <p><b>History</b><br />History will only be available if multiple versions of an element have been created. This list allows users to view past versions of an element along with any comments or markup added to the element. This may be useful when checking a new proof for requested revisions. When clicked the element will open in the main window. To open in a new window, click the button to the right of the element.</p>
                            <p><b>Using the Proofing Tool</b><br />Each element of your order can be reviewed and marked up with comments from any user. These comments will be viewable to all other users. To add a comment, click the Comment button above the proof. This will open a menu of different types of comment markers and options. Select a comment type from the dropdown, click the area of the proof the comment applies to, enter your comment and click out of the comment area or hit Return. Your comment will automatically save and display to the right of the proof along with your username for you and others to see. Please note, comment options such as draw, highlight, text and strikeout only apply to documents that have text that has not been flattened to an image.</p>
                            <p>Clicking the double arrow button in the grey header will open a Comments & Markups list to show all comments added to the proof on any pages within the document, who made them and when. Clicking on a list item will take you to the corresponding page of the proof. To Reply to another users comment or to Delete a comment, hover over a yellow comment window and select Reply or Delete. You may also page through the documents using the page control in the center of the grey header or zoom in and out using zoom controls to the left. Finally, a user may download an annotated PDF or the original file, by clicking the Download button to the right of the Comment button.</p>
                            <p><img src="images/proofing_screen.jpg" alt="" width="100%" style="border: 1px #666666 solid" /></p>
                        </div>
                    </div>
                    <div class="ui-block-c" style="padding-left: 12px; padding-right: 12px;text-align:justify">
                        <div class="ui-body roundedCornersOrange">
                            <p><b>Quick Demo Steps</b><br />
                                Follow the steps below for a demo of proofing and approving an order:</p>
                            <p><b>1.</b> Click the Comment button on the left side of the grey navigation bar. This will open a second panel with a Comment dropdown menu. Select Point Comment.</p>
                            <p><b>2.</b> Click a spot on the proof that applies to a comment you would make regarding the proof.<br />
                                <b>Note:</b> A red pointer appears on the proof with a dotted line to a comment window with your username in it.</p>
                            <p><b>3.</b> Enter a comment, then click out of the comment window or hit Return.<br />
                                <b>Note:</b> Your comment will now be visible in the Comments &amp; Markups panel to the right of the proof (Click the double arrows in the grey header if the panel is not open).</p>
                            <p><b>4.</b> If you hover over the yellow comment window you just added, there are options to Reply or Delete the comment.<br />
                                <b>Note:</b> Try the other Comment types from the dropdown, just for fun.</p>
                            <p><b>5.</b> Click on Proof History to select and view past versions of the proof.</p>
                            <p><b>6.</b> Click on Order Elements to select and view other artwork and list elements from the order.</p>
                            <p><b>7.</b> Click Approval to open the Approval dialog, select an approval status and Submit<br />
                                <b>Note:</b>  Checking Approve Multiple Order Elements will present you with a list of Elements to apply your approval status to.</p>
                            <p><b>8.</b> Click Approvers to view the submitted order status from the step above.<br />
                                <b>Note:</b>  A Rejection status from even one user will change the status to Rejected.</p>
                            <p><b>9.</b> Click Forward to send an email invitation to Proof &amp; Approve the order. <br />
                                <b>Note:</b>  Select from the dropdown, whether the invitation is for one element or all.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end popup demo instructions -->
 
        <div data-role="popup" id="popupDownloadProofs" class="ui-content" data-history="false" data-theme="a">
                    <div data-role="content">
				  <h3>Download Proofs</h3>
                <div data-role="fieldcontain">
                Email To:<br />
                    <input type="text" name="txtDownloadProofsEmailTo" id="txtDownloadProofsEmailTo" value="" data-mini="true" data-theme="a"/>
                </div>
                  <div  align="right">
                        <a id="aDonwloadProofs" href="" data-mini="true" data-role="button" data-theme="a" data-inline="true" onclick="$('#popupDownloadProofs').popup('close');">Cancel</a>
                        <a id="btnDownload" href="" data-mini="true" name="btnDownload" data-role="button" data-theme="a" data-inline="true" >Download</a>
                        </div>
                        </div>
                    </div>

        <div data-role="popup" id="popUpLoanOfficers" data-overlay-theme="d" data-theme="c" style="max-width: 400px;min-width: 300px;" data-history="false">
            <div data-role="content">
                <h3>Loan Officers</h3><p>
                    Select a Loan Officer from the menu below to setup the mailing options. You may complete all of the mailing option modules for one location before switching to another or you may switch between Loan Officers for each mailing option module. The current location is displayed in the header of the page.
                    <div style="padding-top:12px;">
                        <label for="ddlLocations">Loan Officer:</label>
                        <select data-theme="f" id="ddlLoanOfficers" data-bind="options:$root.loanOffiersList,optionsValue:'loanOfficerId',optionsText:'loanOfficerName',value:$root.selectedLoanOfficer"></select>
                    </div>
                    <div align="right" style="padding-top:12px;">
                        <a data-role="button" data-theme="a" data-inline="true" data-mini="true" onclick="$('#popUpLoanOfficers').popup('close');" data-btntype="cancel">Cancel</a>
                        <a data-role="button" data-theme="a" data-inline="true" data-mini="true" onclick="$('#popUpLoanOfficers').popup('close');" data-btntype="submit">Submit</a>
                    </div>
                </p>
            </div>
        </div>

         <div id="footerProof" data-role="footer" data-theme="d" style="margin:0 5px 0 0;text-align:left;" data-position="fixed">
<a href="http://gizmo.tribunedirect.com" style="border:0px; box-shadow:none; padding:0px 12px 0px 12px;" target="_blank" data-iconpos="left" ><img src="../images/gizmo_footer_logo.png" alt="Gizmo" /></a>
<a href="http://conversionalliance.com" target="_blank" data-iconpos="notext" class="ui-btn-right" style="border:0px; box-shadow:none;" ><img src="../images/CA_footer_logo.png" alt="Conversion Alliance"/></a>
</div>
        <!--popup dialogs end -->
    </div>
</body>
</html>