﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>Conversion Alliance</title>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=9" />
    <!--<meta charset="utf-8" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="../css/screen2col.css" media="screen" />    -->
   <!-- -->
   <link href="../Calendar/css/ui-darkness/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" type="text/css" href="../css/jobMngmt.css" />
   <link href="../css/jquery-mobile-theme-084353-0-1.3.2/themes/jobManagement.min.css" rel="stylesheet" type="text/css" />
   <!--<link href="../css/jquery-mobile-theme-121732-0/themes/jobManagement.min.css" rel="stylesheet" type="text/css" /> -->
    <!--<link href="../css/jquery.mobile.structure-1.2.0.min.css" rel="stylesheet" type="text/css" />  -->
     <link rel="stylesheet" href="../css/jquery.mobile-1.3.2.css" />
         <link href="../css/customThemes/customJquery.css" rel="stylesheet" type="text/css" />   
    <!--<script type="text/javascript" src="../javascript/jquery-1.7.2.min.js"></script>-->
    <script type="text/javascript" src="../javascript/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../javascript/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="../javascript/jquery.tmpl.min.js"></script>
    <!--<script type="text/javascript" src="../javascript/jquery.mobile.min.js"></script>-->
    <script src="../javascript/jquery.mobile-1.3.2.js"></script>
    <script src="../Calendar/js/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
    <script src="../javascript/commonFunctions.js" type="text/javascript"></script>
    <script src="../javascript/jobNavLinks.js" type="text/javascript"></script>
    <script src="../javascript/cors.js" type="text/javascript"></script>
    <script src="../javascript/tdScripts/_jobSetup.js" type="text/javascript"></script>
    <style>
        .ui-icon-circle-triangle-e { background-position: -48px -192px; }        
        .ui-icon-circle-triangle-w { background-position: -80px -192px;}
        .ui-listview-filter-inset {
			margin-top: 0;
		}
        .ui-corner-all {
   -webkit-border-radius:.0 !important;
   border-radius: 0 !important;
   }
  
    .ui-field-contain div.ui-input-text { width:78%; display: inline-block; }
  .ui-field-contain .ui-select { width: 77%; display: inline-block; }
</style>
     <script>      
         var date = new Date();         
         jQuery(document).ready(function () {
             jQuery("#inHomeDate").datepicker({
                 minDate: new Date(2010, 0, 1),
                 dateFormat: 'mm/dd/yy',
                 constrainInput: true,
                 beforeShowDay: nationalDays
             });
             //$("#inHomeDate").datepicker().val("");
             jQuery("#expirationDate").datepicker({
                 minDate: new Date(2010, 0, 1),
                 dateFormat: 'mm/dd/yy',
                 constrainInput: true,
                 beforeShowDay: allowSundays
                 //beforeShowDay: nationalDays
             });
             //$("#expirationDate").datepicker().val("");
         });
        

     </script>   
     <script type="text/html" id="salonBrandTemplate">
    {{each(i, item) items}}
       {{if i == 0}}
          <option value="select">Select</option>
       {{/if}}
       <option value="${value}">${name}</option>
    {{/each}}
    </script>       
</head>
<body bgcolor="#000033">
    <div id="_jobSetup" data-role="page">
        <input type="hidden" name="pageName" id="pageName" value="template" />


        <div data-role="header" data-theme="b">
            <h2><div id="navHeader" align="center" name="navHeader"></div></h2>
            <!--<a href="#" target="_self"  data-icon="home" data-iconpos="notext" data-direction="reverse" onclick="redirectToIndexPage();">Home</a>-->
            <a href="#navLinksPanel" data-role="button" data-icon="bars" data-inline="true" data-mini="true" data-theme="b" data-iconpos="notext">Navigation</a>
            <!--<a data-icon="myapp-save" id="btnSaveTop" title="Save" data-type="button" data-iconpos="notext"></a>      -->      
        </div>
        <!-- /header -->
        
         <!-- Nav links panel Start-->
        <div id="navLinksPanel" data-role="panel" data-position="left" data-display="push" data-theme="c">
            <ul data-role="listview" data-theme="c" id="ulJobLinks"></ul>
        </div>
                <!-- Nav links panel End-->
        <div data-role="content"  style="padding-top:0;" >
         <h2>Select Template</h2>
         <div id="divCustomer1"  data-role="fieldcontain" data-mini="true"  style="display: none; " >
                  <label for="text" class="select label"><span id="Span1">*</span>Customer:</label>
                  <input type="text" name="customerName" id="customerName" />                                                                        
                  <span style="padding-left:145px;font-size:smaller;font-family:Arial">After you enter <strong>at least three characters</strong> the autocomplete function will show all possible customer matches.</span>
         </div>
         <div id="divCustomer" data-role="fieldcontain"  style="display: none;">
              <label for="ddlCustomer" style="width:110px;"><span>*</span>Customer:</label>
              <select id="ddlCustomer" name="ddlCustomer" data-mini="true" onchange="getSelectedCustomerInfo(this);"></select>
         </div>
         <div data-role="fieldcontain" style="margin-left: 15px;" data-mini="true" id="dvSalonBrand">
              <span>Salon Brand:</span>
              <span><select id="ddlSalonBrand" name="ddlSalonBrand" data-mini="true"></select></span>
         </div>
         <div data-role="fieldcontain" data-mini="true">
              <label for="text" class="select label"><span id="spnJobDesc">*</span>Job Description:</label>
              <input type="text" name="txtJobName" maxlength="49" placeholder="49 characters max" id="txtJobName" />
         </div>    
          <!--<div id="dvOrderType" data-role="fieldcontain" data-mini="true" style="margin-left:20px; display:none;" >
                                    <label for="text" class="select label" style="vertical-align:top;"><span id="spnOrderType">*</span>Order Type:
                                    </label>
                                    <select name="orderType" id="orderType" data-mini="true">
                                        <option value="-1">Select Order Type</option>
                                        <option value="corporate">Corporate</option>
                                        <option value="districtOptIn">District Opt-In</option>
                                    </select>
            </div>-->    
            <div data-role="fieldcontain" data-mini="true">
                 <label id="schedDate"  class="select label" align="center" name="schedDate"></label>
                 <input type="text" name="inHomeDate" id="inHomeDate" placeholder="MM/DD/YY" readonly="readonly" data-mini="true" data-theme="c"/>
            </div>
           <div id="dvOfferExp" data-role="fieldcontain" data-mini="true" style="display:none;">
                <label id="lblOfferExp"  class="select label" align="center" name="lblOfferExp">Offer Expiration:</label>
                <input type="text" name="expirationDate" id="expirationDate" placeholder="MM/DD/YY" readonly="readonly" data-mini="true" data-theme="c"/>
           </div>
           <div data-role="fieldcontain" id="divEstQty" data-mini="true">
               <label for="schedDate" class="select label">Estimated Mail Quantity:</label>
               <input type="text" name="estimatedQuantity" id="estimatedQuantity" data-mini="true" data-theme="d" maxlength="10" onBlur="setDigits(this.id);" onkeypress="return browserName(event);"/>
           </div>
           <div id="divError" class="errorMessageSection" align="center" style="display:none;"></div>  
            <!--<ul id="template" data-role="listview" data-theme="f" data-inset="true">
           </ul>-->
           <div id="dvTemplates">
           <!--<fieldset  data-role="controlgroup" data-theme="c" id="fieldSetTemplates" >
           </fieldset>-->
           <ul id="template" data-role="listview" data-theme="f" data-inset="true">
           </ul>
               <span id="Span2" style="font-size:smaller;font-family:Arial">* Required fields.</span>
           </div>

          <!--<div data-role="controlgroup" data-theme="c" id="fieldSetTemplates" >
           <div id='template'>
           </div>
           <span id="Span2" style="font-size:smaller;font-family:Arial">* Required fields.</span>-->
           <!--    <ul id="template" data-role="listview" data-theme="f" data-inset="true">
               </ul>-->
<!--               <div id="dvTemplates">
               <fieldset data-role="controlgroup" data-iconpos="right" id="fldSetTemplates">
                </filedset>
               </div>
               
           </div>-->
           <div id="divBottom" name="divBottom" style="text-align:right"></div>   
           <label id="error-message" align="right" class="errorMessageSection" style="visibility:hidden; font-size:smaller; font-weight:bold;"></br></br>No results found.</label>





                    <!--<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">                       
                        <tr>
                            <td>
                           
                                 
                               
                                
                                 
                               
                                <!-- Column 2 end -->
                           <!-- </td>
                            <td nowrap valign="top">&nbsp;
                                
                            </td>
                        </tr>
                    </table>-->
        <div class="colmask leftmenu">
            <div class="colleft">
                <div class="col1">
                    <!-- Column 2 start -->
                    <div class="content-primary">
                         <!--<ul data-role="listview" data-theme="c" id="ulJobLinks"></ul>-->
                    </div>
                    <!--/content-primary -->
                    <!-- Column 2 end -->
                </div>
                <div class="col2">
                    <!-- Column 1 start -->
                  
                </div>
                <!-- Column 1 end -->
            </div>
        </div>
        </div>
      <!--  <div id="footer" data-role="footer" data-theme="b">
            <p class="footerText">
                &nbsp;</p>
        </div>-->
        <!-- footer -->
    </div>
</body>
</html>
