﻿.th-groups th {
    text-align: center;
    background-color: rgba(0,0,0,.1);
    border-right: 1px solid #fff;
}
.th-groups th.totals {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: none;
}
/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
    th.ui-table-priority-1,
    td.ui-table-priority-1 {
        display: table-cell;
    }
}
/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
    th.ui-table-priority-2,
    td.ui-table-priority-2 {
        display: table-cell;
    }
}
/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
    th.ui-table-priority-3,
    td.ui-table-priority-3 {
        display: table-cell;
    }
}
/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
    th.ui-table-priority-4,
    td.ui-table-priority-4 {
        display: table-cell;
    }
}
/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
    th.ui-table-priority-5,
    td.ui-table-priority-5 {
        display: table-cell;
    }
}
/* Show priority 6 at 1200 (75em x 16px) */
@media screen and (min-width: 75em) {
    th.ui-table-priority-6,
    td.ui-table-priority-6 {
        display: table-cell;
    }
}
/* Manually hidden */
th.ui-table-cell-hidden,
td.ui-table-cell-hidden {
    display: none;
}
/* Manually shown */
th.ui-table-cell-visible,
td.ui-table-cell-visible {
    display: table-cell;
}
